.join-Home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: -200px;
    font-weight: bold;
    gap: 10px;
    font-size: 20px;
    line-height: 61px;
}
.text-nav input {
    width: 100%;
    height: 48px;
    line-height: 21px;
    padding-top: 11px;
    padding-right: 35px;
    padding-bottom: 11px;
    padding-left: 16px;
    color: #252525;
    background-color: #fafafa;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
}
.text-nav small {
    padding: 0;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 7px;
    font-size: 12px;
    word-break: keep-all;
    color: #8a8a8d;
}
.join-button {
    display: block;
    margin-left: 10px;
    width: 124px;
    color: #fff;
    background-color: #0096ff;
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    text-align: center;
    padding: 0;
}
.join-button:enabled {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
button {
    width: 100%;
    background-color: #f2f2f2;
    color: #999;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
